$primary: #52bbbb;
$primary-transparent: #52bbbb47;
$secondary: #59838c;
$bg-primary: #121117;
$bg-secondary: #21333e;
$bg-dark:  rgba(0, 0, 0, 0.383);
$light: white;
$text-dark: #b1b1b7;
$bg-grey: #19191f;